header{
position:relative ;

}

nav{

flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 120px;



height: 80px;
left: 0px;
top: 0px;

background: #121829 80%;

}

a{

width: 77px;
height: 24px;
left: 16px;
top: 12px;

/* Link/Regular */

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* Grey/200 */

color: #A8AEBF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 8px;

text-decoration: none;

margin-top: 18px;
padding-bottom: 18px;
}

.logo{
height: 27,48px;
height: 32px;
top: 24px;
bottom: 24px;
position: absolute;

}

.ho :hover{
    color: white;
}

