<header>
    <nav class="navbar row fixed-top ">
        <div class="container ">
        <!-- <div class="col-2 flex"><img src="../../../assets/recursos/logo.png" alt="" class="logo"></div> -->
        <div class="col-12">
           <div class=""><a routerLink="home"><img src="../../../assets/recursos/logo.png" alt="" class="logo"></a></div> 
            <div class="ho text-end as" *ngIf="userLogged | async as user; else logout " >

                <a routerLink="dash" routerLinkActive="activo">Dashboard </a>
                <a routerLink="home" routerLinkActive="activo">Agregar</a>                                
                <a routerLink="ingreso" routerLinkActive="activo" (click)="logOut()">Logout</a> 
                 
                
            </div>

            <ng-template #logout >
            <div class="ho text-end as" >

                <a routerLink="peliculas" routerLinkActive="activo">Peliculas </a>
                <a routerLink="series" routerLinkActive="activo">Series</a>
                 <a routerLink="ingreso"  routerLinkActive="activo">Ingresar <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                      </svg></a>
              
                
            </div>
        </ng-template>
        </div>
    </div>
    </nav>
</header>