<div class="color"></div>
      <div class="color2"></div>
      <div class="color3"></div>
      <div class="color4"></div>
  <body>
    <div class="container-fluid alt ">
      
      
      <h1>{{titulo}}</h1>

      <div class="col d-flex alt2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search lupa" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        <input class="form-control me-2 busca" type="search" placeholder="Buscar películas y series" aria-label="Search"  >
      </div>
            
      <div></div>
     

     <!-- <div class="row galeria cards" [ngPlural]="setSeccion()"> -->

      <!-- <ng-template ngPluralCase="1"> -->
        <app-card [movies]="movies"></app-card> 
      <!-- </ng-template>  -->

      <!-- <ng-template ngPluralCase="2">       
         <app-card [movies_series]="movies" ></app-card> 
      </ng-template> -->

      <!-- espacio -->
    
      <!-- </div> --> 
       
      
  
    </div>
  </body>
