.busca{
    position: static;
    width: 344px;
    height: 64px;
    left: calc(50% - 344px/2);
    top: 0%;
    bottom: 0%;
    
    background: rgba(0, 0, 0, 0.1);
    /* Grey/700 */
    border: 1px solid #323B54;
    box-sizing: border-box;
    border-radius: 12px;
    padding-left: 56px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    
    color: #475069;
    margin-bottom: 50px;
    
    }
    
    .alt2{
        margin-top: 48px;
    }
    
    .lupa{
    
        position: absolute;
        width: 19px;
        height: 19px;
        margin-left: 18px;
        margin-top: 22px;
        margin-bottom: 23px;
        color: #475069;
       
    }

    h1{
        color: #EBEEF5;
    }