
<div class="color"></div>
<div class="color2"></div>
     


<body>
    
<div class="container-fluid alt">
    <div class="">
    <h1 class="text-start title">Agregar nuevo item</h1>
    <div class="col d-flex alt2">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search lupa" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        <input class="form-control me-2 busca" type="search" placeholder="Buscar películas y series" aria-label="Search" >


        <button class="btn bot text-white" >Buscar</button>
      </div>

      <div class="row galeria cards">

        <!-- <div class="cards col-4 fondo-foto d" *ngFor="let serieRe of serieRe">
          <img class="foto" src="https://www.themoviedb.org/t/p/w220_and_h330_face{{serieRe.poster_path}}" alt="">
          <p class="titulo">{{serieRe.name}}</p>
          <p class="puntos"  ><span><svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-star estrella" viewBox="0 0 16 16">
            <path  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
          </svg></span>{{serieRe.vote_average}}</p>
          
    
        </div> -->
    
      </div>


    </div>


</div>

</body>