
.saly{

    position: absolute;
    width: 486px;
    height: 584px;
   padding-top: -0.71%;
    bottom: -3.57%;
    
    
    
}


.title{
    margin-bottom: 40px;
    color: white;
    

}

.busca{
    position: static;
    width: 384px;
    height: 64px;
    left: calc(50% - 344px/2);
    top: 0%;
    bottom: 0%;
    
    background: rgba(0, 0, 0, 0.1);
    /* Grey/700 */
    border: 1px solid #323B54;
    box-sizing: border-box;
    border-radius: 12px;
    padding-left: 56px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    
    color: #475069;
    
    }

.alt2{
        margin-top: 48px;
}
    
.lupa{
    
        position: absolute;
        width: 19px;
        height: 19px;
        margin-left: 18px;
        margin-top: 22px;
        margin-bottom: 23px;
        color: #475069;
       
}

.bot{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    
    position: static;
    width: 119px;
    left: calc(50% - 119px/2);
    top: 0%;
    bottom: 0%;
    
    /* Primary/400 */
    
    background: #7B6EF6;
    /* Primary/400 */
    
    border: 2px solid #7B6EF6;
    border-radius: 12px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}






