<div class="color"></div>
      <div class="color2"></div>
     


<body>
    
<div class="container-fluid alt">

    <div class="row justify-content-center">
        <div class="col-6 cards">
            <img class="saly " src="../../../../assets/recursos/ingreso/Saly-11.png" alt="">
        </div>

        <div class="col-2">
            
        </div>
        <div class="col-4 text-start">
              

                <h1 class="title">Ingresar</h1>
            <form class="" (ngSubmit)="Ingresar()" [formGroup]="miFormulario"  >  
                <div class="d-fl">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope ico" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                      </svg>
                    <input class="ingreso text-white "  type="email" placeholder="Email" formControlName="email" name="email">
                      <br>
                    <span class="form-text text-danger mx-1 " *ngIf="campoEsValido('email')">
                        Email invalido, ingrese un email correcto
                    </span>
                </div>

                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key ico" viewBox="0 0 16 16">
                        <path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/>
                        <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                      </svg>
                    <input class="ingreso text-white" type="password" placeholder="Contraseña" formControlName="password" name="password">

                    <br>
                    <span class="form-text text-danger mx-1 " *ngIf="campoEsValido('password')">
                        Contraseña incorrecta
                    </span>
                </div>

                
                <button class="btn bot text-white" [disabled]="miFormulario.invalid"  ngDefaultControl type="submit" >Ingresar</button>

                
            </form>
                
            <div class="col d-flex">
            <div class="rect"></div>
            <div class="circ"><h3>ó</h3></div>
            <div class="rect2"></div>
            </div>

            <button class="formbuttonGoogle d-flex text-center" (click)="IngresarConGoogle()">
                <img
                  src="../../../../assets/recursos/google.png"
                  alt=" icono de Google"
                  class="formbtnGoogleImg"
                  />
                  <p class="pp">Continuar con Google</p>
              </button>
        </div>
    </div>

</div>

</body>