
.saly{

    position: absolute;
    width: 486px;
    height: 584px;
   padding-top: -0.71%;
    bottom: -3.57%;
    
    
    
}

.cards{
    position: relative;
    background-color: #121829;
    position: relative;
    border-radius: 40px;
    width: 400px;
    height: 584px;
    
}

.title{
    margin-bottom: 26px;
}

.bot{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;

    position: static;
    width: 486px;
    left: calc(50% - 486px/2);
    top: 0%;
    bottom: 0%;

    /* Primary/400 */

    background: #7B6EF6;
    /* Primary/400 */

    border: 2px solid #7B6EF6;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 26px 0px;
}

.rect{
    
    width: 218px;
    height: 5px;
    left: 733px;
    top: 530px;

    /* Grey/800 */

    background: #20283E;
    border-radius: 2px;
}

.circ{
    margin-left: 9px;
    margin-right: 9px;
    
    
}

.rect2{
    width: 229px;
    height: 5px;
    left: 989px;
    top: 530px;

    /* Grey/800 */

    background: #20283E;
    border-radius: 2px;
}

.ico{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: 18px;
    margin-top: 33px;
    margin-bottom: 23px;
    color: #475069;
}

.ingreso{
    /* Auto layout */

    
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;

    position: static;
    width: 486px;
    height: 64px;
    left: calc(50% - 486px/2);
    top: 0%;
    bottom: 0%;

    /* Black/10 */

    background: rgba(0, 0, 0, 0.1);
    /* Grey/700 */

    border: 1px solid #323B54;
    box-sizing: border-box;
    border-radius: 12px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 16px 0px;
    padding-left: 55px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    

}

.formbtnGoogleImg{
width: 30px;

}

.pp{
    margin-left: 10px;
}

.formbuttonGoogle{
    width: 300px;
    height: 40px;
}