<!-- Card de Peliculas y Series -->
<div  *ngIf="userLogged | async as user; else logout ">
<div class="row galeria cards">

    <div class="cards col-4 fondo-foto2 d" *ngFor="let movies_series of movies_series">
      <img class="foto" src="https://www.themoviedb.org/t/p/w220_and_h330_face{{movies_series.poster_path}}" alt="">
      <p class="titulo">{{movies_series.title || movies_series.name}}</p>
      <button class="titulo2" (click)="addList(movies_series)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-plus" viewBox="0 0 16 16">
        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z"/>
      </svg> Agregar a mi lista</button>
      <p class="puntos"  ><span><svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-star estrella" viewBox="0 0 16 16">
        <path  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
      </svg></span>{{movies_series.vote_average}}</p>
      
      

    </div>

  </div>

  <!-- Card de Peliculas -->
  <div class="row galeria cards">

    <div class="cards col-4 fondo-foto2 d" *ngFor="let movieRe of movieRe">
      <img class="foto" src="https://www.themoviedb.org/t/p/w220_and_h330_face{{movieRe.poster_path}}" alt="">
      <p class="titulo">{{movieRe.title}}</p>
      <button class="titulo2" (click)="addList(movieRe)" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-plus" viewBox="0 0 16 16">
        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z"/>
      </svg> Agregar a mi lista</button>
      <p class="puntos"  ><span><svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-star estrella" viewBox="0 0 16 16">
        <path  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
      </svg></span>{{movieRe.vote_average}}</p>
      

    </div>

  </div>

  <!-- Card de Series -->
  <div class="row galeria cards">

    <div class="cards col-4 fondo-foto2 d" *ngFor="let serieRe of serieRe">
      <img class="foto" src="https://www.themoviedb.org/t/p/w220_and_h330_face{{serieRe.poster_path}}" alt="">
      <p class="titulo">{{serieRe.name}}</p>
      <button class="titulo2" (click)="addList(serieRe)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-plus" viewBox="0 0 16 16">
        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5V6H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V7H6a.5.5 0 0 1 0-1h1.5V4.5A.5.5 0 0 1 8 4z"/>
      </svg> Agregar a mi lista</button>
      <p class="puntos"  ><span><svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-star estrella" viewBox="0 0 16 16">
        <path  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
      </svg></span>{{serieRe.vote_average}}</p>
      

    </div>

  </div>

   <!-- Card de List -->
   <div class="row galeria cards">

    <div class="cards col-4 fondo-foto2 d" *ngFor="let movies of movies">
      <img class="foto" src="https://www.themoviedb.org/t/p/w220_and_h330_face{{movies.poster_path}}" alt="">
      <p class="titulo">{{movies.title || movies.name}}</p>
      <button class="titulo3" (click)="deleteItem(movies.idGlobal)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
      </svg> Eliminar de mi lista</button>
      <p class="puntos"  ><span><svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-star estrella" viewBox="0 0 16 16">
        <path  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
      </svg></span>{{movies.vote_average}}</p>
      

    </div>

  </div>

</div>

<ng-template #logout >
  <div class="row galeria cards">

    <div class="cards col-4 fondo-foto d" *ngFor="let movies_series of movies_series">
      <img class="foto" src="https://www.themoviedb.org/t/p/w220_and_h330_face{{movies_series.poster_path}}" alt="">
      <p class="titulo">{{movies_series.title || movies_series.name}}</p>
      <p class="puntos"  ><span><svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-star estrella" viewBox="0 0 16 16">
        <path  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
      </svg></span>{{movies_series.vote_average}}</p>
      

    </div>

  </div>

  <!-- Card de Peliculas -->
  <div class="row galeria cards">

    <div class="cards col-4 fondo-foto d" *ngFor="let movieRe of movieRe">
      <img class="foto" src="https://www.themoviedb.org/t/p/w220_and_h330_face{{movieRe.poster_path}}" alt="">
      <p class="titulo">{{movieRe.title}}</p>
      <p class="puntos"  ><span><svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-star estrella" viewBox="0 0 16 16">
        <path  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
      </svg></span>{{movieRe.vote_average}}</p>
      

    </div>

  </div>

  <!-- Card de Series -->
  <div class="row galeria cards">

    <div class="cards col-4 fondo-foto d" *ngFor="let serieRe of serieRe">
      <img class="foto" src="https://www.themoviedb.org/t/p/w220_and_h330_face{{serieRe.poster_path}}" alt="">
      <p class="titulo">{{serieRe.name}}</p>
      <p class="puntos"  ><span><svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-star estrella" viewBox="0 0 16 16">
        <path  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
      </svg></span>{{serieRe.vote_average}}</p>
      

    </div>

  </div>
 </ng-template>

  <div class="espacio"></div>