.foto{
    width: 266px;
    height: 400px;
    border-radius: 8px;
}

.fondo-foto{
    background: rgba(32, 40, 62, 0.8);
    width: 282px;
    height: 480px;
    border-radius: 12px;
    padding: 8px 8px 16px;
    backdrop-filter: blur(80px);
    margin-right: 24px;
    margin-bottom: 20px;
    
}

.fondo-foto2{
    background: rgba(32, 40, 62, 0.8);
    width: 282px;
    height: 510px;
    border-radius: 12px;
    padding: 8px 8px 16px;
    backdrop-filter: blur(80px);
    margin-right: 24px;
    margin-bottom: 20px;
    
}

.titulo{

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;
    color: #EBEEF5;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 16px;
    margin-bottom: 0px;
    margin-top: 24px;

}

.titulo2{

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;
    color: #ffd849;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 16px;
    margin-bottom: 0px;
    margin-top: 10px;
    background-color: unset;
    border: unset;
    

}
.titulo3{

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;
    color: #ff424f;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0 16px;
    margin-bottom: 0px;
    margin-top: 10px;
    background-color: unset;
    border: unset;
    

}

.puntos{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    color: #FFAD49;
    font-size: 16px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 4px;
    padding: 4px 8px;

    display: flex;
    flex-direction: row;
    align-items: center;
   

    position: absolute;
    width: 60px;
    height: 40px;
    left: 16px;
    top: 18px;
    
    background: rgba(0, 0, 0, 0.65);backdrop-filter: blur(8px);

    border-radius: 8px;
    
}

.estrella{
    width: 18.33px;
    height: 18.33px;
    padding-right: 5px;
    margin-top: 13px;
    margin-bottom: 13px;
    
}

.foto:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
    
    
}

/* .fondo-foto2:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
    
    
} */


.espacio{
   padding-bottom: 150px;
}


