<p>dashboard works!</p>
<div class="color"></div>
<div class="color2"></div>
     


<body>
    
<div class="container-fluid alt">

    <div class="row justify-content-center text-center">
        <h1 class="text-start title">Bienvenido</h1>
        <div class="col-6 cards">
            <a href="list" class="car" >
           
            <h3>{{movies.length}}</h3>
            <p class="p">Peliculas</p>
       
             </a>
        </div>
        <div class="col-6 cards">
            <a href="list" class="car" >
       
            <h3>26</h3>
            <p class="p">Series</p>
       
             </a>
        </div>
        
    </div>

</div>

</body>