
.saly{

    position: absolute;
    width: 486px;
    height: 584px;
   padding-top: -0.71%;
    bottom: -3.57%;
    
    
    
}

.cards{
 display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 40px 16px;

position: static;
width: 588px;
height: 152px;
left: 612px;
top: 0px;

/* Grey/900 */

background: #121829;
opacity: 0.8;
border-radius: 12px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 1;
margin: 0px 24px;
    
}

.title{
    margin-bottom: 40px;
    color: white;

}

.p{
    /* Body/Regular */

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #767E94;
}

.car{
    direction:unset;
    text-decoration: none;
}


