@media (max-width: 500px) { 
    .alt{
        padding-top:  90px;
        padding-left: 60px;
    }
}


h1{
    color: #EBEEF5;
}

.p1{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #8E95A9;
margin-top: 16px;
}

.busca{
position: static;
width: 344px;
height: 64px;
left: calc(50% - 344px/2);
top: 0%;
bottom: 0%;

background: rgba(0, 0, 0, 0.1);
/* Grey/700 */
border: 1px solid #323B54;
box-sizing: border-box;
border-radius: 12px;
padding-left: 56px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #475069;

}

.alt2{
    margin-top: 48px;
}

.lupa{

    position: absolute;
    width: 19px;
    height: 19px;
    margin-left: 18px;
    margin-top: 22px;
    margin-bottom: 23px;
    color: #475069;
   
}

.cuadro{
 display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;

margin-top: 80px;
width: 388px;
height: 56px;
left: 120px;
top: 472px;

/* Black/20 */

background: rgba(0, 0, 0, 0.2);
backdrop-filter: blur(80px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 12px;
}

.todos{
    margin-top: 24px;
    
}

h3{
    color: #767E94;
    font-size: 20px;

}

.todo{
    font-size: 16px;
    font-weight: lighter;
    margin-left: 10px;
    margin-top: 0px;
    margin-right: 5px;
}