:root{

    --primary: #5A4AF4;
    --secondary: #1EA5FC;
    --success: #05CE91;
    --error: #FF6161;
    --tertary: #B66DFF;
    --warning: #FFAD49;
    --white: #FFFFFF;
    --black: #000000;
    --grey: #121829;
    
}

body{

    background: #121829 80%;
       
}


.alt{
    padding-top:  160px;
    padding-left: 120px;
}

.color{
    position: absolute;
    height:140px;
    width:140px;
   background:#6200ffc0;   
   border-radius:100px;
   filter: blur(130px);
   left: 70%;
   top: 15%;
   
}

.color2{
    position: absolute;
    height:140px;
    width:140px;
   background:#0066ffc0;   
   border-radius:100px;
   filter: blur(130px);
   left: 20%;
   top: 60%;
}

.color3{
    position: absolute;
    height:140px;
    width:140px;
   background:#00ff558a;   
   border-radius:100px;
   filter: blur(130px);
   left: 80%;
   top: 160%;
}

.color4{
    position: absolute;
    height:140px;
    width:140px;
   background:#ff22cf8a;   
   border-radius:100px;
   filter: blur(130px);
   left: 50%;
   top: 150%;
}

@font-face {
    font-family: 'Poppins';
    src: url("./assets/recursos/font/Poppins-Regular.otf");
  }


h1{
    /* Heading/H1 */

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 80px;
/* identical to box height, or 125% */

letter-spacing: -0.02em;

/* Grey/100 */

color: #C3C8D4;
}

h2{
    /* Heading/H2 */

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 56px;
/* identical to box height, or 117% */

letter-spacing: -0.02em;

/* Grey/100 */

color: #C3C8D4;
}

h3{
    /* Heading/H3 */

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */

letter-spacing: -0.02em;

/* Grey/100 */

color: #C3C8D4;
}

h4{
    /* Heading/H4 */

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

letter-spacing: -0.015em;

/* Grey/100 */

color: #C3C8D4;
}

h5{
    /* Heading/H5 */

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

letter-spacing: -0.015em;

/* Grey/100 */

color: #C3C8D4;
}

h6{
    /* Heading/H6 */

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: -0.015em;

/* Grey/100 */

color: #C3C8D4;
}

.large{
    /* Body/Large */

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 32px;
/* identical to box height, or 160% */


/* Grey/100 */

color: #C3C8D4;
}

.bregular{
    /* Body/Regular */

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Grey/100 */

color: #C3C8D4;
}

.bsmall{
    /* Body/Small */

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */


/* Grey/100 */

color: #C3C8D4;
}

.bsmallxs{
    /* Body/Extra Small */

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */


/* Grey/100 */

color: #C3C8D4;
}

.caption{
    /* Caption */

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */


/* Grey/100 */

color: #C3C8D4;
}

.oregular{
    /* Overline/Regular */

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

letter-spacing: 0.04em;
text-transform: uppercase;

/* Grey/100 */

color: #C3C8D4;
}

.osmall{
    /* Overline/Small */

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

letter-spacing: 0.04em;
text-transform: uppercase;

/* Grey/100 */

color: #C3C8D4;
}

.lregular{
    /* Link/Regular */

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* Grey/100 */

color: #C3C8D4;
}

.lsmall{
    /* Link/Small */

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

letter-spacing: 0.02em;

/* Grey/100 */

color: #C3C8D4;
}

.lsmallxs{
    /* Link/Extra Small */

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */

letter-spacing: 0.02em;

/* Grey/100 */

color: #C3C8D4;
}