


@media (max-width: 500px) { 
    .alt{
        padding-top:  90px;
        padding-left: 60px;
    }
}


h1{
    color: #EBEEF5;
}

.p1{
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #8E95A9;
margin-top: 16px;
}

.busca{
position: static;
width: 344px;
height: 64px;
left: calc(50% - 344px/2);
top: 0%;
bottom: 0%;

background: rgba(0, 0, 0, 0.1);
/* Grey/700 */
border: 1px solid #323B54;
box-sizing: border-box;
border-radius: 12px;
padding-left: 56px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #475069;

}

.alt2{
    margin-top: 48px;
}

.lupa{

    position: absolute;
    width: 19px;
    height: 19px;
    margin-left: 18px;
    margin-top: 22px;
    margin-bottom: 23px;
    color: #475069;
   
}

.cuadro{
 display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px;

margin-top: 80px;
width: 388px;
height: 56px;
left: 120px;
top: 472px;

/* Black/20 */

background: rgba(0, 0, 0, 0.2);
backdrop-filter: blur(80px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 12px;
}

.bot{
    left: 8px;
    top: 8px;
    width: 115px;
    height: 40px;
    margin-bottom: 8px;
    padding: 8px 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    
}

.bot:hover{
    background-color: #7B6EF6;
    border-color: #7e71f873;
    
}

.isTrue{
    background-color: #7B6EF6;
    border-color: #7e71f873;
}

.isFalse{
    background-color:unset;
    border-color: unset;
    border-style: none;
}

/* .bot:focus{
    background-color: #7B6EF6;
    
    
} */

.todos{
    margin-top: 24px;
    
}

h3{
    color: #767E94;
}

.todo{
    font-size: 14px;
    font-weight: lighter;
    margin-left: 10px;
    margin-top: 4px;
}

/*ESTILOS CARD*/

.foto{
    width: 266px;
    height: 400px;
    border-radius: 8px;
}

.fondo-foto{
    background: rgba(32, 40, 62, 0.8);
    width: 282px;
    height: 480px;
    border-radius: 12px;
    padding: 8px 8px 16px;
    backdrop-filter: blur(80px);
    margin-right: 24px;
    margin-bottom: 20px;
    
}

.titulo{

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: 0.02em;
    color: #EBEEF5;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 24px 16px;

}

.puntos{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    color: #FFAD49;
    font-size: 16px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 4px;
    padding: 4px 8px;

    display: flex;
    flex-direction: row;
    align-items: center;
   

    position: absolute;
    width: 60px;
    height: 40px;
    left: 16px;
    top: 18px;
    
    background: rgba(0, 0, 0, 0.65);backdrop-filter: blur(8px);

    border-radius: 8px;
    
}

.estrella{
    width: 18.33px;
    height: 18.33px;
    padding-right: 5px;
    margin-top: 13px;
    margin-bottom: 13px;
    
}

.foto:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
    
    
}



.galeria{
    padding-bottom: 156px;
}


